; Пример настроек! Для работы нужно переименовать файл в env.ini и установить значение bot_token
[app]

; true - вывод всех ошибок PHP
debug = true

[telegram]
bot_token = ""
parse_mode = "markdown"

[plog]
; Настройки работы функции plog, см. helpers.php

; Имя лога по умолчанию
log_postfix = "work"

; Писать логи в файл
log_write = false

; Выводить лог на экран
log_print = true


[plogErr]
; Настройки работы функции plogErr, см. helpers.php
; Функция повторяет работу plog для отдельного файла

; Имя лога для ошибок (функция plogErr)
log_err_postfix = "error"